<div class="container-fluid">
  <h1>Canlı Destek</h1>
  <div>    
    <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
  </div>
  <br/>
  <div class="row">
    <!--<div class="col-5">
      <div class="row">
        <div class="col">
          <input [(ngModel)]="currentUser" required placeholder="UserName" type="text">
        </div>
        <div class="col">
          <div class="btn-group" role="group" aria-label="button group">
            <button [disabled]="!currentUser" (click)="saveUsername()" type="button"
              class="btn btn-sm btn-primary">Save</button>
          </div>
        </div>
      </div> -->
     <!-- <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </div>-->
  
  
    <div class="col">
      <video #videoPlayer width="640" height="480" controls></video>
    </div>
    <br/>
  
</div>
